* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

/* Aqui tengo los estilos generales */

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Aqui tengo los estilos del header*/

header {
    background-color: #1f1f1f;
    padding: 10px 50px;
}                                         

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
    border: 2px solid #fff;
}

/* Aqui estan los estilos del hero */

#hero {
    position: relative;
}

#hero #fondo {
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0 50px;
}

#hero .informacion-contenedor #perfil {
    width: 200px;
}

#hero .informacion-contenedor #perfil img {
    border-radius: 100%;
}

#hero .informacion-contenedor .informacion {
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold; 
    width: calc(100% - 200px );
}

#hero .informacion-contenedor .informacion span {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/* Estilos del main */

main {
    padding: 100px;
}

main .iconos-sociales {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .iconos-sociales li {
    margin-left:8px;
}

main .iconos-sociales .icono-social{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;height: 100%;
}

main .iconos-sociales #youtube {
    background-color: #f70000;
}

main .iconos-sociales #github{
    background-color: #23272d;
}



